
#Div1 {

    background-color: red;
    width: 50px;
    height: 50px;
    border: solid 2px; color: green;
    margin-top: 100px;

}

#Div2 {

    background-color: black;
    height: 50vh;
    width: 50%;
    border: dashed 10px; color: red;
    margin-top: 100px;
    margin-left: 100px ;
}