
#DivA {
    background-color: #add8e6; width: 400px; height: 200px;
}
#DivB {

    background-color: azure; width: 70%; height: 80%;
}

p {
    font-weight: bold;
    color: yellow;
    background-color: blueviolet;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#DivC {
    width: 30vw;
    height: 20vh;
    background-color: rgb(131, 87, 172);

}