#Div1 {
    background-color: rgb(170, 50, 218);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
 
}
#Div1 #Div2 {

    background-color:#ffcbdb ;
    height: 100%;
    width: 250px;
    border: solid 20px; color: red;

}

#Div3 {

    background-color: aquamarine;
    height: 88%;
    width: 30%;
}